[defaults]

# (pathlist) Comma-separated list of Ansible inventory sources
inventory = ./inventory/

# (pathspec) Colon-separated paths in which Ansible will search for Roles.
roles_path=roles:./roles

# (path) Option for connections using a certificate or key file to authenticate, rather than an agent or passwords, you can set the default value here to avoid re-specifying ``--private-key`` with every invocation.
private_key_file=../keys/id_ed25519_ants-os-default

# (string) Sets the login user for the target machines
# When blank it uses the connection plugin's default, normally the user currently executing Ansible.
remote_user=ants

# (boolean) Set this to "False" if you want to avoid host key checking by the underlying connection plugin Ansible uses to connect to the host.
# Please read the documentation of the specific connection plugin used for details.
host_key_checking=False

# Path to the Python interpreter to be used for module execution on remote targets, or an automatic discovery mode.
# Supported discovery modes are auto (the default), auto_silent, auto_legacy, and auto_legacy_silent.
# All discovery modes match against an ordered list of well-known Python interpreter locations.
# The fallback behavior will issue a warning that the interpreter should be set explicitly (since interpreters installed later may change which one is used).
# This warning behavior can be disabled by setting auto_silent.
# The auto_legacy modes are deprecated and behave the same as their respective auto modes.
# They exist for backward-compatibility with older Ansible releases that always defaulted to /usr/bin/python3, which will use that interpreter if present.
; interpreter_python = auto_silent

# (boolean) If you have cowsay installed but want to avoid the ‘cows’ (why????), use this.
nocows = 1

interpreter_python = auto_silent

# 6 Raspberry Pi = 6 forks to execute tasks in parallel
forks = 6

[ssh_connection]
ssh_args = -o IdentitiesOnly=yes -o ControlMaster=auto -o ControlPersist=60s
pipelining = True